.divContainer {
    margin: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    background-color: white;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #2F4368;
    overflow: hidden;
    max-width: 18ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button {
    border: none;
    padding: 0.75rem;
    background-color: red;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: red;
    box-sizing: border-box;
    outline: 1px solid red;
}

.text {
    margin: 0.3rem;
}

.NavLink {
    text-decoration: none;
}

.fav {
    background-color: white;
    padding: 0.75rem;
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    transition: 0.3s;
}

.fav:hover {
    cursor: pointer;
    background-color: white;
    box-sizing: border-box;
    background-color: #f0e14a;
}