.formContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.imgContainer {
    width: 50%;
    height: auto;
}

.imgContainer img {
    width: 100%;
    height: 100%;
}

.inputContainer {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    margin: 1rem;
}

.inputContainer input {
    border-radius: 5px;
    width: 25vw;
    box-shadow: none;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
}

.inputContainer label {
    font-weight: 800;

}

.inputContainer button {
    margin: 1.5rem;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    background-color: #2F4368;
    color: white;
    border: 1px solid black;
    transition: 0.3s;
}

.inputContainer button:hover {
    cursor: pointer;
    background-color: white;
    color: black
}