.divContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


input {
    width: 100%;
    padding: 0.75rem 1rem;
    margin: 1rem .5rem;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.button {
    padding: 0.75rem 1rem;
    border-radius: 0 5px 5px 0;
    border: 1px solid black;
    background-color: #2F4368;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;

}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}